.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 2rem;
  width: 200px;
  height: 220px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.thumbnail {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
}
